/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
  background-color: var(--light-grey);
}

:root {
  --dark: #303841;
  --orange: #ff5722;
  --light-orange: #ff7e55;
  --gray: #d4d4d4;
  --light-grey: #eeeeee;
  --white: #fff;
  --green: #36e961;
  --light-green: #64ee85;
  --faded-green: #92f3a9;
  --blue: #3066be;
  --twitter-blue: #50b7f5;
  --black: #000;
  --red: #ff0000;

  --header-height: 60px;
  --header-logo-width: 40px;
  --footer-height: 60px;
}

/* Global styles */
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--orange);
}


/* Utility classes */

.info {
  background-color: var(--blue);
}

.success {
  color: var(--green);
}

.warning {
  color: var(--orange);
}

.danger {
  color: var(--red);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.invalidMessage {
  font-size: 0.8rem;
}

input.form-control:focus,
select.form-select:focus {
  box-shadow: none;
}

/* Login and register section */

section.login,
section.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 2px);
  /* background-color: var(--light-grey); */
}
.login hr,
.signup-form hr {
  width: 100%;
  margin: 20px 0;
  color: var(--orange);
}

.login .form-left {
  font-family: "Poppins", sans-serif;
  border: var(--orange) 1px solid;
}

.login .form-right {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
}

.form-right .login-logo {
  font-size: 4rem;
  font-weight: 700;
  margin: 10px;
  background-color: var(--white);
  color: var(--orange);
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

}

/**
  * Header section
  */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  color: var(--white);
  background-color: var(--dark);
  min-height: --var(--header-height);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

header .header-logo,
header .header-text {
  font-size: 1.5rem;
}

header .header-logo {
  font-weight: 700;
  margin: 10px;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 5px;
  width: 60px;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

/**
  * Navigation section
  */
nav {
  font-family: "Poppins", sans-serif;
}

.nav-item div,
.nav-item .nav-link {
  color: var(--white);
}

.nav-items {
  width: 250px;
  font-weight: normal;
  font-size: medium;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* min-height: 100vh; */
  background-color: #f4f4f4;
}

/* viewTicket */
.viewTicket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.viewTicket table {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--light-grey);
}

/**
  * Page view
  */
.pageView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height) + 4px);
  background-color: var(--light-grey);
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  max-height: 90%;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--white);
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px;
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  /* margin-top: 10px; */
}

.pageHeader .pageTitle {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--orange);
}

.pageHeader .pageSalutation {
  font-size: 0.85rem;
  font-weight: 100;
}

/**
  * Cards
  */
.cards {
  width: 100%;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 4.2em;
  border-radius: 50%;
}

.card-icon.total {
  background-color: rebeccapurple;
}

.card-icon.resolved {
  background-color: var(--green);
}

.card-icon.in-progress {
  background-color: var(--light-orange);
}

.card-icon.pending {
  background-color: var(--red);
}

.card-ticket-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.card-title {
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.5;
  border-top: 1px solid var(--gray);
  margin-top: 10px;
  padding-top: 5px;
}

.userActions .input-group {
  gap: 10px;
  width: 25%;
}

.userActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
  width: 100%;
}

/* Table */
.table-responsive {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 400;
  width: 100%;
  /* overflow-x: auto; */
}

table tr {
  vertical-align: middle;
}

/* Footer section */

footer {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark);
  min-height: var(--footer-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--white);
  padding: 0 20px;
}
